.windowContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    background: var(--plastic);
}

.windowContentMenu {
    flex: 0 0 auto;
}

.windowContentBody {
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 1px;
    overflow: auto;
    background: var(--plastic);
}

.windowContentFooter {
    flex: 0 0 auto;
}

.windowContent,
.windowContentMenu,
.windowContentFooter {
  overflow: hidden;
}
